.button-solid {
    background-color: #fff;
    color: $textColor;
    height: 60px;
    padding: 0 40px;
    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color ease-in .3s, color ease-in .3s;

    &:hover {
        background-color: #000;
        color: #fff;
    }

    &:focus {
        outline: none;
        background-color: $textColor;
        color: #fff;
    }
}