.button-outline {
    background-color: transparent;
    color: #fff;
    height: 60px;
    padding: 0 40px;
    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: background-color ease-in .3s, border ease-in .3s;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0);

    }

    &:focus {
        outline: none;
        background-color: #000;
    }
}